/Users/Alex/Dropbox/Proyectos/Kindle-Sync/changelog.md
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/Kindle Sync.sublime-project
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/Kindle Sync.sublime-workspace
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/KindleGen_Mac_i386_v2_9
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/arrow.png
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/checkbox_w.png
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/checkbox.png
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/epToMoAll.psd
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/epToMoSel.psd
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/epub_icons
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/imac.png
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/kindle-icon.png
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/library.png
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/mobi_icons
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/upToKinAll.psd
/Users/Alex/Dropbox/Proyectos/Kindle-Sync/images/upToKinSel.psd